/* Tablets, landscape mode: 1024 - 1200px */
/* Widths smaller than the 1140px row */
@media only screen and (max-width: 1200px) {
	.row { padding: 0 2%; }
	.hero-text-box {
		padding: 0 2%;
		width: 100%;
	}
}

/* Tablets, portrait mode: 768 - 1023px */
@media only screen and (max-width: 1023px) {
	body {font-size: 18px; }
	section { padding: 60px 0; }

	.main-navigation { display: inline-block; }
	
	.long-copy { width: 80%; }

	.steps-box, .steps-box:last-child { margin-top: 10px; }
	.works-step{ margin-bottom: 40px; }
	.works-step:last-of-type { margin-bottom: 60px; }
	.app-screen { width: 50%; }

	.icon-small { 
		margin-right: 5px;
		width: 17px; 
	}

	.city-feature { font-size: 90%; }

	.plan-box {
		margin: 0;
		width: 100%;
	}

	.plan-price { font-size: 250%; }

	.contact-form { width: 80%; }
}

/* Small phones to small tablets: 481 - 767px */
@media only screen and (max-width: 767px) {
	body { font-size: 16px; }
	section { padding: 30px 0; }
	h1 { font-size: 180%; }
	h2 { font-size: 150%; }

	.row,
	.hero-text-box { padding: 0 4% }

	.col { 
		margin: 0 0 4% 0;
		width: 100%; 
	}

	.icon-big {
		margin-left: 43%;
	}

	.main-navigation { display: none; }
	.main-navigation {
		float: left;
		margin-top: 35px;
		margin-left: 25px;
	}
	
		.main-navigation li {
			display: block;
		}

		.main-navigation li a:link,
		.main-navigation li a:visited {
			border: 0;
			display: block;
			font-size: 100%;
			padding: 10px 0;

		}

	.mobile-nav-icon { display: inline-block; }

	.sticky .main-navigation { margin-top: 10px; }

	.sticky .main-navigation li a:link,
	.sticky .main-navigation li a:visited {
		padding: 10px 0;
	}
	.sticky .mobile-nav-icon { margin-top: 10px; }
	.sticky .mobile-nav-icon i { color: #555; }

	.long-copy { width: 100%; }

	.steps-box:first-child { text-align: center; }
	.works-step.second { margin-top: 20px; }

	.app-screen { width: 40%; }

  .works-step { margin-bottom: 20px; }
	.works-step:last-of-type { margin-bottom: 20px; }

	.works-step div {
		font-size: 120%;
		height: 40px;
		margin-right: 15px;
		padding: 4px;
		width: 40px;
	}
}

/* Small phones: 0 - 480px */
@media only screen and (max-width: 480px) {
	section { padding: 25px 0; }
	.contact-form { width: 100%; }
	.hero-text-box .btn {
		margin-top: 10px;
	}
}